.titulos{
    margin: 0;
    padding: 0;
}
.container-fluid{
    width: 700px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.main-container{
    margin-top: 200px;
    height: 300px;
    /*width: 700px;*/
    background-color: white;
    border: 1px dashed black;
    padding-left: 0;
}

#voter-data{
    background-color: #f7c600;
    height: 298px;
    width: 150px;
    text-align: center;
    padding: 30px 10px 10px 10px;
    color: white;
    font-weight: bold;
}

.image-qr{
    margin-top: 30%;
}

.contenedor{
    width: 100%;
    padding: 30px 20px 50px 20px;
    line-height: unset;
    color: #2AC0D1;
}

.slogan{
    font-size: 12px;
    color: #f7c600;
}